<div class="spinner-wrapper"  *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<section class="container" *ngIf="paragraphs;else other_content">
  <h1>All Paragraphs</h1>
   <button    mat-raised-button color="accent" class="export-btn mx-1"  (click)="export()">Export Project</button>
  <div *ngFor="let paragraph of paragraphs let i= index" class="py-2">
<label for="{{ paragraph._id }}" id="">
    <mat-card class="paragraph-card mt-2">
      <mat-card-header>
         <input type="checkbox" name="question"  [(ngModel)]="paragraph.isChecked" (change)="changeSelection()" id="{{ paragraph._id }}" >
        <!--  <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <p>{{ paragraph["qNumber"] }}</p>
        <p>{{ paragraph["paragraph"] }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
         routerLink="/paragraph/{{ paragraph['_id'] }}"
        >
          See More
        </button>
        <button
          mat-raised-button
          color="accent"
          routerLink="/paragraph/update/{{ paragraph['_id'] }}"
        >
          Update
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="deleteParagraph(paragraph['_id'])"
        >
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
    </label>
  </div>
</section>
<ng-template #other_content>
  <h2>No Questions found</h2>
</ng-template>
