<div class="container">
  <!-- <form [formGroup]="userForm" novalidate>
    <div formArrayName="users">
      <table class="table table-bordered">
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>USERNAME</th>
          <th>EMAIL</th>
          <th>STREET</th>
          <th>SUITE</th>
          <th>CITY</th>
          <th>ZIPCODE</th>
          <th>LAT</th>
          <th>LNG</th>
          <th>PHONE</th>
          <th>WEBSITE</th>
          <th>COMPANY NAME</th>
          <th>COMPANY CATCHPHRASE</th>
          <th>COMPANY BS</th>
          <th colspan="2">CARS OWNED</th>
        </tr>
        <tr
          *ngFor="let x of usersArray.controls; let i = index; "
          [formGroupName]="i"
        >
          <td>
            <input type="text" formControlName="id" />
          </td>
          <td>
            <input type="text" formControlName="name" />
          </td>
          <td>
            <input type="text" formControlName="username" />
          </td>
          <td>
            <input type="text" formControlName="email" />
          </td>
          <ng-container formGroupName="address">
            <td>
              <input type="text" formControlName="street" />
            </td>
            <td>
              <input type="text" formControlName="suite" />
            </td>
            <td>
              <input type="text" formControlName="city" />
            </td>
            <td>
              <input type="text" formControlName="zipcode" />
            </td>
            <ng-container formGroupName="geo">
              <td>
                <input type="text" formControlName="lat" />
              </td>
              <td>
                <input type="text" formControlName="lng" />
              </td>
            </ng-container>
          </ng-container>
          <td>
            <input type="text" formControlName="phone" />
          </td>
          <td>
            <input type="text" formControlName="website" />
          </td>
          <ng-container formGroupName="company">
            <td>
              <input type="text" formControlName="name" />
            </td>
            <td>
              <input type="text" formControlName="catchPhrase" />
            </td>
            <td>
              <input type="text" formControlName="bs" />
            </td>
          </ng-container>
          <ng-container formArrayName="cars">
            <ng-container
              *ngFor="
                let y of x.get('cars').controls;
                let j = index;
                trackBy: track
              "
              [formGroupName]="j"
            >
              <td>
                <label>
                  <b>Car Name:</b>
                  <input type="text" formControlName="name" />
                  <b>Model:</b>
                  <input type="text" formControlName="models" />
                </label>
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </table>
    </div>
  </form>
 -->
  <b>Form's Value:</b> {{ userForm.value | json }}
</div>
