<div class="container py-5 paragraphs mt-5">
  <div class="row">

    <!--   Start Paragraph////////////////////////////////////////////// -->
    <div
      *ngFor="
        let paragraph of paragraphs
          | paginate
            : {
                id: 'pagination2',
                itemsPerPage: tableSize,
                currentPage: paragraphPage
              };
        let paraIndex;
        as: index
      "
    >
      <h1>{{ paragraph.qNumber }}</h1>
      <p
        class="paragraph"
        [innerHTML]="
          doHighlight == true
            ? (paragraph['paragraph']
              | highlight
                : (keywords))
            : paragraph['paragraph']
        "
      ></p>
      <!-- <app-questions [questions]="paragraph.questions"></app-questions> -->
      <!--   <h1 class="mt-2">Questions:</h1> -->
      <div
        class="questions"
        *ngFor="
          let question of paragraph.questions
            | paginate
              : {
                  id: 'pagination1',
                  itemsPerPage: tableSize,
                  currentPage: questionPage
                };
          let i = index
        "
      >
        <h2 class="question">{{ question.question }}</h2>

        <div class="d-flex justify-content-center">
          <pagination-controls
            id="pagination1"
            previousLabel=""
            nextLabel=""
            [directionLinks]="false"
            [autoHide]="true"
            (pageChange)="onPaginateQuestion($event)"
          >
          </pagination-controls>
        </div>
        <div class="overlay-btn">
          <button (click)="showAnswer()" class="btn-answer">
            {{ paragraph.btn_answer }}
          </button>
        </div>
      </div>

      <div class="overlay-answer">
        <div class="suggest">
          <p>{{ answer }}</p>
        </div>
      </div>
    </div>
    <!--   Eng Paragraph.///////////////////////////////////////////////////////// -->
    <div class="mt-4 pagination-control">
      <pagination-controls
        id="pagination2"
        previousLabel="PrevQuestion"
        nextLabel="NextQuestion"
        [responsive]="true"
        (pageChange)="onPaginateParagraph($event)"
        [maxSize]="3"
        [autoHide]="true"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
      </pagination-controls>
    </div>
  </div>
</div>

